.home-container {
    padding: 1.5rem;
    background-color: var(--bg-color); 
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  
}

